[Desktop Entry]
Actions=Configure;
Categories=Application;
Comment=Launch EXCEL using Bottles.
Exec=bash -c "flatpak run --command=bottles-cli com.usebottles.bottles run -p 'EXCEL' -b 'BOTTLE NAME' -- $(echo \\'z:\\"%f\\"\\' | sed 's!/!\\\\\\\\\\\\\\\\!g')"
Icon=/home/rustring/.var/app/com.usebottles.bottles/data/bottles/bottles/BOTTLE-NAME/icons/EXCEL.png
Name=Excel 2007 Spreadsheet
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=EXCEL
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action Configure]
Exec=flatpak run com.usebottles.bottles -b 'Office 2207'
Name=Configure in Bottles
