[Desktop Entry]
Actions=Configure;
Categories=Application;
Comment=Launch POWERPNT using Bottles.
Exec=bash -c 'flatpak run --command=bottles-cli com.usebottles.bottles run -p '\\''POWERPNT'\\'' -b '\\''BOTTLE NAME'\\'' -- $(echo \\'\\''z:"%f"\\'\\'' | sed '\\''s!/!\\\\\\\\!g'\\'')'
GenericName=
Icon=/home/rustring/.var/app/com.usebottles.bottles/data/bottles/bottles/BOTTLE-NAME/icons/POWERPNT.png
MimeType=
Name=PowerPoint 2007 Presentation
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=POWERPNT
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action Configure]
Exec=flatpak run com.usebottles.bottles -b 'Office 2207'
Name=Configure in Bottles
